html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {

}

.img-flex {

}

.circle {

}

.banner-content {

}

h2 {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 1.5rem;
  font-family: "Roboto Condensed", sans-serif;
}

.btn btn-big {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
}
